<div class="navbar-container d-flex justify-content-between align-items-center">
  <div>&nbsp;</div>
  <div class="logo-container d-flex align-items-center pointer">
    <img src="/assets/images/logo.png">
    <div class="logo-text ml-3">
      Shatter
    </div>
  </div>

  <div class="button-container d-flex align-items-center" >
    <ng-container *ngIf="!user else loggedIn">
      <button class="custom-button" [routerLink]=[SCREENS.LOGIN]>{{ 'buttons.login' | translate }}</button>
      <button class="ml-2 custom-button custom-button-secondary" [routerLink]=[SCREENS.REGISTER]>{{ 'buttons.register' | translate }}</button>
    </ng-container>

    <ng-template #loggedIn>
      <button class="custom-button" (click)="logout()">{{ 'buttons.logout' | translate }}</button>
    </ng-template>
   </div>

</div>


