:host {
  width: 100%;
  background-color: var(--color-bg-dark);
  color: var(--color-font-default);
  font-weight: bold;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .navbar-container {
    height: 65px;

    & > div {
      width: 100%;
      align-items: center;
      justify-content: center;
      &:last-child {
        justify-content: end ;

      }
    }


    .logo-container {
      .logo-text {
        font-size: 1.3rem;
        letter-spacing: .075rem;
      }
      img {
        width: 45px;
        max-height: 55px;
      }
    }

    .user-picture-round {
      position: relative;
      img {
        width: 55px !important;
        height: 55px !important;
      }

      .notifications-badge-container {
        position: absolute;
        right: 0;
        bottom: 0;

        .notifications-badge {
          font-size: .6rem;
          padding: 2px;
          min-width: 18px;
          aspect-ratio: 1 / 1;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          background-color: var(--color-secondary);
          outline: 2px solid var(--color-secondary);
          outline-offset: 2px;
          animation: notification_badge_outline_color 1s alternate infinite;

        }
        .notifications-dropdown.dropdown-menu {
          min-width: 250px;
          .notification-item {
            padding-inline: 10px;
            display: flex;
            align-items: center;
            font-size: .8rem;

            .img-container {
              img {
                max-width: 40px;
                max-height: 40px;
              }

              margin-right: var(--spacing-lg);
            }

            .notification-body {
              color: var(--color-font-secondary)
            }

            .notification-text {
              color: var(--color-font-primary);
            }

          }
        }

      }


    }


    .right-container {
      height: inherit;

      .logged-in {
        height: fit-content;

        .img-container {
          border: 2.5px solid var(--color-secondary);
        }

        .dropdown-container {
          margin-left: var(--spacing-md);
          position: relative;
          min-width: 150px;
          border-bottom: 1px solid var(--color-secondary);
          font-size: 1.2rem;

          .first-name-text {
            padding: 2px 2px 2px var(--spacing-md);
          }

          &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
            content: '\f0d7';
            position: absolute;
            height: 100%;
            right: 2px;
            top: 50%;
            display: flex;
            align-content: center;
            transform: translateY(-50%);

            transition: transform .2s ease-out;
          }

          .menu-items {
            position: absolute;
            max-height: 0;
            overflow-y: hidden;
            width: 100%;
            background-color: var(--color-bg-dark);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom: 1.2px solid var(--color-secondary);


            transition: max-height .2s ease-out;

            .menu-item {
              padding: 5px 0 5px var(--spacing-md);
              cursor: pointer;

              &:hover {
                background-color: var(--color-bg);
                transition: background-color .2s ease-out;
              }

            }

          }

        }

      }

    }

  }

}


.dropdown-show {
  &::after {
    transform: translateY(-50%) rotate(180deg) !important;
  }

  .menu-items {
    max-height: 200px !important;
  }
}


@keyframes notification_badge_outline_color {
  0% { outline-color: var(--color-secondary); }
  100% { outline-color: var(--color-secondary-light); }
}


@media screen and(max-width: 700px) {
  .navbar-container {
    & > div:first-child {
      display: none;
    }
    justify-content: space-between;

    .logo-container {
      justify-content: flex-start !important;
    }
  }
}


@media screen and(max-width: 472px) {
  :host {
    padding-inline: 10px;
  }

  .logo-text {
    display: none;
  }
}
