<div class="navbar-container d-flex justify-content-between align-items-center">
  <div>&nbsp;</div>
  <div class="logo-container d-flex align-items-center pointer" [routerLink]="[SCREENS.MAIN]">
    <img src="/assets/images/logo.png">
    <div class="logo-text ml-3">
      Shatter
    </div>
  </div>

  <div class="right-container d-flex align-items-center ml-3" >
    <ng-container *ngIf="!user else loggedIn">
      <button class="custom-button" [routerLink]=[SCREENS.LOGIN]>{{ 'buttons.login' | translate }}</button>
      <button class="ml-2 custom-button custom-button-secondary" [routerLink]=[SCREENS.REGISTER]>{{ 'buttons.register' | translate }}</button>
    </ng-container>

    <ng-template #loggedIn>
      <div class="logged-in d-flex align-items-center">
        <div class="img-container pointer user-picture-round">
          <img [src]="user?.profile?.image?.file_path || '/assets/images/mock_avatar.png'" alt="User Profile Photo">

          <div class="notifications-badge-container" *ngIf="notifications?.length" ngbDropdown [placement]="'bottom-right'">
            <div class="notifications-badge"
                 id="notifications-badge"
                 ngbDropdownToggle>

              {{notifications!.length < 100 ?  notifications!.length : '+99'}}

              <div class="notifications-dropdown" ngbDropdownMenu aria-labelledby="notifications-badge" >
                <div class="notification-item" ngbDropdownItem
                     *ngFor="let notification of notifications"
                     [routerLink]="[SCREENS.NOTIFICATIONS, notification.id]"
                >

                  <div class="img-container user-picture-round">
                    <img [src]="notification?.from_user?.profile?.image?.file_path || '/assets/images/mock_avatar.png'" alt="User Profile Photo">
                  </div>

                  <div class="notification-body">
                    <div class="user-credentials">
                      {{notification?.from_user?.first_name || '-'}} {{notification?.from_user?.last_name || '-'}}
                    </div>
                    <div class="notification-text">
                      {{ 'mocks.hasSentAFriendRequest' | translate }}
                    </div>
                  </div>

                </div>

                <div class="notification-item mt-3 d-flex align-items-center justify-content-center">
                  <div class="notification-body hover-primary font-weight-bold user-select-none" [routerLink]="[SCREENS.NOTIFICATIONS]">
                    {{ 'buttons.seeAll' | translate }}
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="dropdown-container pointer" (click)="toggleDropdown($event)" [ngClass]="showDropdown ? 'dropdown-show' : 'dropdown-hide'">
          <div class="first-name-text user-select-none">
            {{ user?.first_name | titlecase }}
          </div>

          <div class="menu-items  user-select-none">
            <div class="menu-item" [routerLink]="[SCREENS.PROFILE]">{{ 'buttons.profile' | translate }}</div>
            <div class="menu-item" [routerLink]="[SCREENS.NOTIFICATIONS]">{{ 'buttons.notifications' | translate }}</div>
            <div class="menu-item" [routerLink]="[SCREENS.SETTINGS]">{{ 'buttons.settings' | translate }}</div>
            <div class="menu-item" (click)="logout()">{{ 'buttons.logout' | translate }}</div>
          </div>

        </div>
      </div>
    </ng-template>
   </div>

</div>


