<div class="custom-container">
  <div class="shared-by-friends-container" *ngIf="post.shared_by_friends">
    <div class="img-container shared-by-friend-img user-picture-round pointer"
         *ngFor="let friend of post.shared_by_friends.users | slice:0:3"
         [routerLink]="[SCREENS.PROFILE, friend.id]"
         ngbTooltip="{{ friend.first_name }} {{ friend.last_name }}"
         tooltipClass="custom-tooltip"
         container="body">
      <img [src]="friend.profile?.image?.file_path || '/assets/images/mock_avatar.png'" alt="Friend picture">
    </div>
    <span class="shared-text" *ngIf="post.shared_by_friends.count <= 3 else moreFriendsSharedTemplate"> {{ 'mocks.sharedThisPost' | translate }} </span>

    <ng-template #moreFriendsSharedTemplate>
      <span class="shared-text">
        {{ 'mocks.and' | translate }}
        <span ngbDropdown [placement]="'auto'" container="body" dropdownClass="friends-shared-dropdown">
          <span class="friends-shared-count hover-primary" id="friends-shared" ngbDropdownToggle>
            {{ post.shared_by_friends.count - 3 }}
            {{ 'mocks.more' | translate }}
          </span>

          <div ngbDropdownMenu aria-labelledby="friends-shared">
            <div class="friend" ngbDropdownItem *ngFor="let friend of post.shared_by_friends.users">
              <div class="img-container user-picture-round pointer">
                <img [src]="friend.profile?.image?.file_path || '/assets/images/mock_avatar.png'" alt="Friend picture">
              </div>
              <div class="friend-credentials"> {{ friend.first_name }} {{ friend.last_name }}</div>
            </div>
          </div>
        </span>

        {{ 'mocks.friendsSharedThisPost' | translate }}
      </span>
    </ng-template>
  </div>

  <div class="post-header d-flex">
    <div class="img-container user-picture-round pointer" [routerLink]="[SCREENS.PROFILE, post.user.id]">
      <img [src]="post.user.profile?.image?.file_path || '/assets/images/mock_avatar.png'" alt="Profile Picture">
    </div>
    <div class="user-data">
      <div class="user-credentials pointer hover-secondary" [routerLink]="[SCREENS.PROFILE, post.user.id]">
        {{ post.user.first_name }} {{ post.user.last_name }}
      </div>
      <div class="created-at pointer hover-primary" [routerLink]="[SCREENS.POST, post.id]">
        {{post.updated_at}}
      </div>
    </div>

    <div class="post-actions-container hover-primary" *ngIf="post.user?.id === user?.id">
      <div class="d-inline-block" ngbDropdown container="body">
        <i class="fa-solid fa-ellipsis-vertical" id="post-actions" ngbDropdownToggle></i>

        <div ngbDropdownMenu aria-labelledby="post-actions">
          <button (click)="editPost()" ngbDropdownItem>{{ 'buttons.edit' | translate }}</button>
          <button (click)="deletePost()" ngbDropdownItem>{{ 'buttons.delete' | translate }}</button>
        </div>
      </div>
    </div>

  </div>
  <div class="post-body">
    <div class="post-content">
      {{post.content}}
    </div>
    <div class="post-img img-container pointer" *ngIf="post.image?.file_path">
      <img [src]="post.image?.file_path | safeUrl" alt="Post Picture">
    </div>
  </div>

  <div class="post-bar d-flex align-items-center justify-content-between">
    <div class="share-container d-flex align-items-center">
      <span class="mr-2 share-count">{{post.likes?.length || 0}}</span>
      <div class="actions hover-secondary" [class.shared]="post.is_shared" (click)="onShareClick($event); toggleLike()">
        <span class="arrow-wrapper">
          <i class="fa-solid fa-arrow-up-long up" #upArrowRef></i>
          <i class="fa-solid fa-arrow-down-long down" #downArrowRef></i>
        </span>
      </div>
    </div>

    <div class="comment-count">
      {{post.comments?.length || 0}} {{ 'labels.comments' | translate }}
    </div>

  </div>

  <div class="comments-container">
    <div class="comment d-flex" *ngFor="let comment of post.comments">
      <div class="comment-container d-flex">
        <div class="comment-header hover-secondary" [routerLink]="[SCREENS.PROFILE, comment.user.id]">{{comment.user.first_name | titlecase}} {{comment.user.last_name | titlecase}}</div>

        <div class="img-container user-picture-round comment-picture pointer" [routerLink]="[SCREENS.PROFILE, comment.user.id]">
          <img [src]="comment.user.profile?.image?.file_path || '/assets/images/mock_avatar.png'">
        </div>
        <div class="comment-body">
          <div class="comment-text">
            {{comment.content}}
          </div>

          <div class="comment-footer">
            <div class="vote-container">
              <span class="vote-icon hover-secondary"
                    [class.vote-active]="comment.voteState === voteState.UPVOTED"
                    (click)="handleVote(comment.id!, 1)">
                <i class="fa-solid fa-angle-up"></i>
              </span>

              <span class="vote-count ml-2 mr-2">{{comment.voteValue}}</span>

              <span class="vote-icon hover-secondary"
                    [class.vote-active]="comment.voteState === voteState.DOWNVOTED"
                    (click)="handleVote(comment.id!, -1)">
                <i class="fa-solid fa-angle-down"></i>
              </span>
            </div>

            <div class="sent-at-text">
              {{comment.created_at}}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="post-footer mt-4 d-flex">
    <div class="img-container user-picture-round comment-profile-picture">
      <img [src]="user?.profile?.image?.file_path || '/assets/images/mock_avatar.png'" alt="Your Profile Picture">
    </div>

    <div class="comment-body custom-contenteditable"
         contenteditable="true"
         data-placeholder="Aa"
         (keydown.enter)="$event.preventDefault(); addComment()"
         #commentBody>
    </div>

    <div class="comment-icon hover-secondary" (click)="addComment()">
      <i class="fa-solid fa-comment-dots"></i>
    </div>
  </div>
</div>


