<div class="view-changer-container">
  <div class="view-icon hover-secondary"
       [class.active]="view === Views?.GRID"
       (click)="changeView(Views.GRID)"
  >
    <i class="fa-solid fa-table-columns"></i>
  </div>
  <div class="view-icon ml-2 hover-secondary"
       [class.active]="view === Views?.LIST"
       (click)="changeView(Views.LIST)"
  >
    <i class="fa-solid fa-list-ul"></i>
  </div>
</div>
<ng-container *ngIf="userData else noUserTemplate">
  <div class="notification-container custom-container" *ngIf="userData.invitations_received?.length">
    <app-notification (notificationStatusChange)="loadUserData()"
                      [notification]="userData.invitations_received[0]">
    </app-notification>
  </div>

  <ng-container *ngIf="view === Views?.GRID else listViewTemplate">
    <div class="profile-container">

      <div class="left-bar">
        <ng-container *ngTemplateOutlet="userInfoTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="userFriendsTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="userActivityTemplate"></ng-container>
      </div>

      <div class="right-bar ml-3">
        <ng-container *ngTemplateOutlet="userPostsTemplate"></ng-container>
      </div>

    </div>
  </ng-container>
</ng-container>


<ng-template #listViewTemplate>
  <div class="list-view-container" *ngIf="userData && currentUser else noUserTemplate">
    <ng-container *ngTemplateOutlet="userInfoTemplate"></ng-container>

    <div class="tabs-container custom-container">
      <div class="tabs-nav">
        <div class="tab-item hover-secondary"
             [class.active]="tab === Tabs?.FRIENDS"
             (click)="changeTab(Tabs.FRIENDS)">
          {{ 'labels.friends' | translate }}
        </div>

        <div class="tab-item hover-secondary"
             [class.active]="tab === Tabs?.ACTIVITY"
             (click)="changeTab(Tabs.ACTIVITY)">
          {{ 'labels.activity' | translate }}
        </div>
      </div>

      <div class="mt-2 selected-option-container" [ngSwitch]="tab">
        <ng-container *ngSwitchCase="Tabs?.FRIENDS">
          <ng-container *ngTemplateOutlet="userFriendsTemplate"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="Tabs?.ACTIVITY">
          <ng-container *ngTemplateOutlet="userActivityTemplate"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noUserTemplate>
  <div class="custom-container ml-auto mr-auto d-flex justify-content-center align-items-center" style="max-width: 500px">
    {{ 'mocks.userNotFound' | translate }}
  </div>
</ng-template>

<ng-template #userInfoTemplate>
  <div class="custom-container profile-data-container" *ngIf="userData">
    <div class="img-container">
      <img [src]="userData.profile?.image?.file_path || '/assets/images/mock_avatar.png'" alt="User Profile Photo">
    </div>

    <div class="profile-data">
      <div class="field-container">
        <label>{{ 'labels.fullName' | translate }}</label>
        <div>{{userData.first_name | titlecase}} {{userData.last_name | titlecase}}</div>
      </div>

      <div class="field-container">
        <label>{{ 'labels.email' | translate }}</label>
        <div>{{userData.profile?.profile_email || '-'}}</div>
      </div>

      <div class="field-container">
        <label>{{ 'labels.gender' | translate }}</label>
        <div>{{userData?.profile?.gender != null ? this.genderTypes[userData.profile!.gender] : '-'}}</div>
      </div>

      <div class="field-container">
        <label>{{ 'labels.dateOfBirth' | translate }}</label>
        <div>{{(userData.profile?.birth_date | date) || '-'}}</div>
      </div>
    </div>

    <i class="fa-solid fa-user-pen pointer edit-icon hover-secondary" *ngIf="userData.id === currentUser!.id else userActionTemplate"
       (click)="openEditProfileDataModal()" appTooltip [value]="'mocks.changeProfileData' | translate">
    </i>

    <ng-template #userActionTemplate>
      <div class="d-inline-block hover-secondary action-dropdown" ngbDropdown>
        <i class="fa-solid fa-ellipsis-vertical" id="post-actions" ngbDropdownToggle></i>

        <div ngbDropdownMenu aria-labelledby="post-actions">
          <button *ngIf="!userData.is_friend && !userData.invitations_received.length && !userData.invitations_sent.length"
                  (click)="addFriend()" ngbDropdownItem>{{ 'buttons.addToFriends' | translate }}</button>

          <ng-container *ngIf="!userData.is_friend && userData.invitations_received.length">
            <button (click)="handleInvitation(userData.invitations_received[0]?.id, invitationStatus.ACCEPTED)" ngbDropdownItem>{{ 'buttons.acceptFriendRequest' | translate }}</button>
            <button (click)="handleInvitation(userData.invitations_received[0]?.id, invitationStatus.REJECTED)" ngbDropdownItem>{{ 'buttons.rejectFriendRequest' | translate }}</button>
          </ng-container>

          <button *ngIf="!userData.is_friend && userData.invitations_sent.length"
                  (click)="handleInvitation(userData.invitations_sent[0]?.id, invitationStatus.CANCELED)" ngbDropdownItem>{{ 'buttons.cancelFriendRequest' | translate }}</button>

          <button *ngIf="userData.is_friend"
                  (click)="removeFriend()" ngbDropdownItem>{{ 'buttons.removeFromFriends' | translate }}</button>
        </div>
      </div>
    </ng-template>

  </div>
</ng-template>


<ng-template #userFriendsTemplate>
  <div class="user-friends custom-container" >
    <div class="friends-header d-flex justify-content-between" *ngIf="view === Views?.GRID">
      <h4 class="d-flex align-items-center" >
        {{ 'labels.friends' | translate }}
        <h5 *ngIf="userData!.friends?.length" class="ml-2 mb-0">
          ({{ userData!.friends.length > 99 ? '+99' : userData!.friends.length }})
        </h5>
      </h4>

      <div class="see-all hover-primary" (click)="seeAll(Tabs.FRIENDS)">
        {{ 'buttons.seeAll' | translate }}
      </div>
    </div>

    <div class="friends-container" *ngIf="userData!.friends?.length else userHasNoFriendsTemplate">
      <div class="friend" (click)="goToUserProfile(friend.id)"
           *ngFor="let friend of (view === Views?.GRID ? (userData!.friends | slice:0:8) : userData!.friends)">
        <div class="img-container user-picture-round">
          <img [src]="friend.profile?.image?.file_path || '/assets/images/mock_avatar.png'" alt="Friend Profile Photo">
        </div>
        <div class="friend-name">
          {{ friend.first_name || '-' }} {{ friend.last_name || '-' }}
        </div>
      </div>
    </div>
    <ng-template #userHasNoFriendsTemplate>
      {{ 'mocks.userHasNoFriends' | translate }}
    </ng-template>
  </div>
</ng-template>

<ng-template #userPostsTemplate>
  <div class="user-posts-container">
    <app-post [post]="post" *ngFor="let post of userData!.posts"></app-post>
  </div>
</ng-template>

<ng-template #userActivityTemplate>
  <div class="user-activity custom-container">

    <div class="activity-header d-flex justify-content-between" *ngIf="view === Views?.GRID">
      <h4 class="d-flex align-items-center" >
        {{ 'labels.activity' | translate }}
        <h5 *ngIf="userData!.activity?.length" class="ml-2 mb-0">
          ({{ userData!.activity.length > 99 ? '+99' : userData!.activity?.length }})
        </h5>
      </h4>

      <div class="see-all hover-primary" (click)="seeAll(Tabs.ACTIVITY)">
        {{ 'buttons.seeAll' | translate }}
      </div>
    </div>

    <div class="activities-container" *ngIf="userData?.activity?.length else userHasNoActivityTemplate">
      <div class="activity" *ngFor="let activity of (view === Views?.GRID ? (userData!.activity | slice:0:5) : userData!.activity)">
        <div class="timeline-item">
          <div class="timeline-data">
            <div>{{ activity.created_at | date:'HH:mm' }}</div>
            <div>{{ activity.created_at | date:'shortDate' }}</div>
          </div>
        </div>
        <div class="activity-body">
          <div class="img-container user-picture-round">
            <img [src]="activity.user.profile?.image?.file_path || '/assets/images/mock_avatar.png'" alt="User Profile Photo">
          </div>

          <div class="user-credentials">
            {{activity.user?.first_name || '-'}} {{activity.user?.last_name || '-'}}&nbsp;
          </div>

          <div class="action-type" [ngSwitch]="+activity.action">
            <span *ngSwitchCase="ACTIONS.ADD_POST">{{ 'mocks.addedNew' | translate }} <a class="hover-secondary" [routerLink]="[SCREENS.POST, activity.post!.id]">{{ 'labels.post' | translate }}</a></span>
            <span *ngSwitchCase="ACTIONS.ADD_FRIEND">
              {{ 'mocks.added' | translate }}
               <a class="hover-secondary" [routerLink]="[SCREENS.PROFILE, activity.friend!.id]">{{activity.friend!.first_name || '-'}} {{activity.friend!.last_name || '-'}}</a>
               {{ 'mocks.toFriends' | translate }}
            </span>
            <span *ngSwitchCase="ACTIONS.ADD_COMMENT">{{ 'mocks.commented' | translate }} {{ 'mocks.this' | translate }} <a class="hover-secondary" [routerLink]="[SCREENS.POST, activity.post!.id]">{{ 'labels.post' | translate }}</a></span>
            <span *ngSwitchCase="ACTIONS.SHARE_POST">{{ 'mocks.shared' | translate }} {{ 'mocks.this' | translate }} <a class="hover-secondary" [routerLink]="[SCREENS.POST, activity.post!.id]">{{ 'labels.post' | translate }}</a></span>
          </div>
        </div>
      </div>
    </div>

    <ng-template #userHasNoActivityTemplate>
      {{ 'mocks.userHasNoActivity' | translate }}
    </ng-template>

  </div>
</ng-template>
