:host {
  position: relative;
  padding: 0 40px;
}


// Grid View
.view-changer-container {
  display: flex;
  position: absolute;
  top: -30px;
  right: 40px;
  align-items: center;

  .view-icon {
    color: var(--color-font-secondary);
    font-size: 1.45rem;
    line-height: 1;
  }

  .view-icon.active {
    color: var(--color-secondary-light);
  }
}

.notification-container {
  padding: 20px !important;
  margin-bottom: var(--spacing-lg);

  app-notification {
    width: 100%;
  }
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--spacing-md);
}

.custom-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.profile-data-container {
  position: relative;
  .img-container {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 100%;


    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-height: 180px;
      max-width: 180px;
      aspect-ratio: 1;
      border-radius: 100%;
    }
  }


  .profile-data {
    height: 100%;
    width: 100%;
    padding-left: 50px;
    border-left: 1px solid var(--color-secondary);
    position: relative;

    & > div:not(:last-child) {
      margin-bottom: var(--spacing-lg);
    }

    .field-container {
      label {
        color: var(--color-font-secondary)
      }
    }

  }

  .edit-icon {
    color: var(--color-font-secondary);
    font-size: 1.5rem;

    position: absolute;
    right: 10px;
    top: 15px;
  }

  .action-dropdown {
    position: absolute;
    right: 15px;
    top: 15px;

    i {
      font-size: 1.7rem;
    }
  }
}


h4 {
  color: var(--color-font-secondary);
}

.see-all {
  color: var(--color-font-secondary);
}

.user-friends {
  margin-top: var(--spacing-md);
  display: block;

  .friends-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacing-lg) var(--spacing-sm);
    margin-top: var(--spacing-lg);

    .friend {
      display: flex;
      align-items: center;
      --img-size: 60px;
      border-radius: var(--img-size);

      .img-container {
        img {
          width: var(--img-size);
          height: var(--img-size);
        }
      }

      .friend-name {
        font-size: 1.2em;
        margin-left: var(--spacing-sm);
      }

      &:hover {
        cursor: pointer;
        background-color: var(--color-bg);
        color: var(--color-font-secondary);
      }
    }
  }

  @media screen and(max-width: 400px) {
    .friends-container {
      grid-template-columns: 1fr !important;
    }
  }
}

.user-activity {
  margin-top: var(--spacing-md);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--spacing-lg);

  .activities-container {

    .activity {
      display: flex;
      align-items: center;
      width: 100%;

      .timeline-item {
        margin-left: -10px;
        width: 60px;
        aspect-ratio: 1 / 1;
        font-size: .7rem;

        justify-content: center;
        position: relative;
        border-right: 2px solid var(--color-secondary);

        &::after {
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          top: 50%;
          transform: translateY(-50%);
          right: -9px;
          border-radius: 100%;
          background-color: var(--color-bg-dark);
          border: 5px solid var(--color-secondary-light);
        }

        .timeline-data {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          transform: rotate(-30deg) translate(-40%, 70%);
        }
      }


      .activity-body {
        margin-left: 30px;
        display: flex;
        align-items: center;
        --img-size: 40px;

        .img-container {
          img {
            width: var(--img-size);
            height: var(--img-size);
          }
        }

        .user-credentials {
          font-size: 1.1em;
          margin-left: var(--spacing-sm);
        }

        .action-type {
          font-size: 1.1em;

          a {
            color: var(--color-font-secondary);
          }
        }
      }
    }
  }

}

.user-posts-container {
  width: 100%;

  app-post:not(:first-child) {
    margin-top: var(--spacing-lg);
  }
}


// List View
.list-view-container {
  .tabs-container {
    margin-top: var(--spacing-md);
    display: block;

    .tabs-nav {
      display: flex;
      justify-content: space-between;
      margin-inline: auto;
      width: 70%;
      user-select: none;

      .tab-item {
        font-size: 1.5em;
        color: var(--color-font-secondary);
        min-width: 150px;
        display: flex;
        justify-content: center;

        &.active {
          color: var(--color-secondary-light);
          border-bottom: 2px solid var(--color-secondary-light);
        }
      }
    }
    .selected-option-container {
      width: 100%;
    }
  }

  .user-friends {
    padding-inline: 0;

    .friends-container {
      .friend {
        --img-size: 110px;
        font-size: 1.3rem;

        .friend-name {
          margin-left: var(--spacing-lg);
        }
      }
    }
  }

}


@media screen and(max-width: 992px){
  .profile-container {
    display: block !important;

    .profile-data-container {
      .img-container {
        img {
          max-width: 200px;
          max-height: 200px;
        }
      }

      .profile-data {
        margin-left: 0;
      }

    }

    .spacer {
      display: none;
    }

    .right-bar {
      margin-left: 0 !important;
      margin-top: var(--spacing-lg);
    }
  }
}

@media screen and(max-width: 815px){
  .list-view-container {
    .tabs-nav {
      width: 100% !important;
    }

    .user-friends .friends-container  {
      grid-template-columns: 1fr;

      .friend {
        --img-size: 110px;
        font-size: 1.35rem;
      }
    }
  }
}

@media screen and(max-width: 600px){
  .list-view-container {
    .tab-item {
      min-width: 120px !important;
    }

    .user-friends .friends-container .friend {
      --img-size: 90px;
      font-size: 1.2rem;
    }
  }
}

@media screen and(max-width: 542px){
  :host {
    padding: 0 20px;
  }

  .view-changer-container {
    right: 20px;
  }


  .profile-data-container {
    .img-container,  {
      padding-right: 20px;
    }

    .profile-data {
      padding-left: 20px;
    }
  }

  .profile-data-container {
    display: block !important;
    .img-container,  {
      padding-right: 0;
    }

    .profile-data {
      border-top: 1px solid var(--color-secondary);
      margin-top: 20px;
      padding-top: 20px;
      padding-left: 0;
      border-left: none;
    }
  }
}

@media screen and(max-width: 490px){
  .list-view-container {
    .user-friends .friends-container .friend {
      --img-size: 80px !important;
      font-size: 1.1rem !important;
    }

    .tab-item {
      min-width: 100px !important;
    }

    .tabs-nav {
      font-size: .7rem;
    }
  }


}

@media screen and(max-width: 420px){

  .list-view-container {
    .user-friends .friends-container .friend {
      --img-size: 60px !important;
      font-size: .9rem !important;
    }

    .tabs-container {
      padding-inline: 15px;
    }

    .tab-item {
      min-width: 80px !important;
    }

    .tabs-nav {
      font-size: .6rem;
    }
  }


}
