.field-container {
  label, input {
    display: block;
  }
  label {
    font-size: 1.2rem;
  }
  input {
    font-size: 1.1rem;
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  min-width: 120px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  color: var(--color-font-primary);
  height: 40px;
  font-size: 1.1rem;

  &:focus {
    outline: none;

  }
}

input[type="button"], button.custom-button {

  background-color: transparent;
  color: #FFF;
  border: 2px solid #FFF;
  padding: 5px 10px;
  min-width: 120px;
  font-weight: bold;

  &[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }


  //background-color: var(--button-background-color);
  //color: var(--button-text-color);
  //border: 1px solid var(--button-border-color);
  //font-size: 0.8em;
  //min-width: 180px;
  //height: 45px;
  //border-radius: 50px;
  ////box-shadow: 0 1px 1px 0 #2fa8c5;
  //padding: 0 20px;
  //outline: none;
  //
  //@media screen and (max-width: 568px) {
  //  font-size: 1em;
  //  height: 35px;
  //}
  //
  //&[disabled] {
  //  background-color: var(--fourth-font-color);
  //  border-color: var(--fourth-font-color);
  //  color: white;
  //  cursor: not-allowed;
  //}
  //
  //&.danger {
  //  background-color: $danger;
  //}

}

button.custom-button-secondary {
  background-color: #FFF;
  border-color: #FFF;
  color: #000;

}
