.field-container {
  font-size: 1rem;

  label, input, ng-select {
    display: block;
    width: 100%;
  }
  label {
    font-size: 1.2em;
    margin-bottom: 0 !important;
  }
  input, ng-select{
    font-size: 1.1em;
  }
}

span.input-border-animated {
  position: relative;
  display: none;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    top:0;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 2px solid var(--color-secondary);
    animation: border_animation .7s ease-in-out alternate infinite;
  }

}

input[type='text'],
input[type='email'],
input[type='password'],
ng-select {
  min-width: 120px;
  background: transparent;
  border: none;
  color: var(--color-font-primary);
  height: 40px;
  font-size: 1.1rem;

  position: relative;
  border-bottom: 1px solid #FFF;

  &:focus {
    border: none;

    &+span.input-border-animated {
      display: block;
    }
  }

  &:focus {
    outline: none;
    border: none;
  }
}

input[type="button"], button.custom-button {
  background-color: transparent;
  color: #FFF;
  border: 2px solid #FFF;
  padding: 5px 10px;
  min-width: 120px;
  font-weight: bold;

  &[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover {
    filter: invert(20%);
  }

}

button.custom-button-secondary {
  background-color: #FFF;
  border-color: #FFF;
  color: #000;

}

a {
  text-decoration: none;
  color: var(--color-secondary);

  &:hover {
    text-decoration: none !important;
    color: var(--color-secondary-light) !important;
    transition: color .2s ease-out;
  }
}

val-errors {
  color: var(--color-danger);
  font-size: .9em;
}


@keyframes border_animation {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }

}
