:root {
  --spacing-sm: 5px;
  --spacing-md: 10px;
  --spacing-lg: 15px;

  --color-danger: #af2121;
  --color-secondary: #0f5092;
  --color-secondary-light: #3f94eb;

  [data-theme="dark"] {
    --color-bg: #121212;
    --color-bg-dark: #000;
    --color-primary: black;
    --color-font-primary: #6e6e6e;
    --color-font-secondary: #C6C6CD;
    --color-gray-dark: #6e6e6e; //#dae0e5
    --color-gray-light: #bdbdbd;
    --color-gray-light2: #2f2f2f;
    --color-font-default: #FFF;
    --button-color: #FFF;
  }

  [data-theme="light"] {
    --color-bg: #e2e2e2;
    --color-bg-dark: #f7f7f7;
    --color-primary: #ffffff;
    --color-font-primary: #000000;
    --color-font-secondary: #191919;
    --color-gray-dark: #cacaca; //#dae0e5
    --color-gray-light: #b3b3b3;
    --color-gray-light2: #777777;
    --color-font-default: #000000;
    --button-color: #000;

  }
}
