:root {
  --spacing-sm: 5px;
  --spacing-md: 10px;
  --spacing-lg: 15px;

  --color-danger: #af2121;
  --color-secondary: #0f5092;
  --color-secondary-light: #3f94eb;

  [data-theme="dark"] {
    --color-bg: #121212;
    --color-bg-dark: #000;
    --color-primary: black;
    --color-font-primary: #6e6e6e;
    --color-font-secondary: #C6C6CD;
    --color-gray-dark: #6e6e6e; //#dae0e5
    --color-gray-light: #bdbdbd;
    --color-font-default: #FFF;
  }

  [data-theme="light"] {
    --color-bg: white;
    --color-primary: white;
    --color-font-primary: black;
    --color-font-default: #000;

  }
}
