<div class="custom-container login-container">
  <div class="header-container">
    <h3>{{ 'buttons.login' | translate }}</h3>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="submit()" >
    <div class="field-container">
      <label for="email">{{ 'labels.email' | translate }}</label>
      <input id="email"
             type="text"
             formControlName="email"
             class="custom-input"
             placeholder="{{ 'labels.email' | translate }}"
             name="email">
      <span class="input-border-animated"></span>

      <val-errors controlName="email" label="{{ 'labels.email' | translate }}"></val-errors>
    </div>

    <div class="field-container mt-4">
      <label>{{ 'labels.password' | translate }}</label>
      <input id="password"
             type="password"
             formControlName="password"
             class="custom-input"
             placeholder="{{ 'labels.password' | translate }}"
             name="password">
      <span class="input-border-animated"></span>

      <val-errors controlName="password" label="{{ 'labels.password' | translate }}"></val-errors>
    </div>

    <div class="button-container d-flex align-items-center justify-content-center">
      <button type="submit" class="custom-button">{{ 'buttons.login' | translate }}</button>
      <a class="forgot-password-text pointer ml-2" >{{ 'mocks.forgotPassword' | translate }}?</a>
    </div>
  </form>
</div>
