@import "~bootstrap/scss/bootstrap";
@import "styles/variables";
@import "styles/fonts";
@import "styles/forms";
@import "styles/toasts";
@import "styles/modals";
@import "styles/date-picker";
@import "styles/select";


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

[data-theme] {
  background-color: var(--color-bg);
  color: var(--color-font-primary);
}

.pointer {
  cursor: pointer;
}

.custom-container {
  background-color: var(--color-bg-dark);
  padding: 30px;
  border-radius: 22px;
}

.header-container {
  h1, h2, h3, h4, h5 {
    font-weight: bold;
  }
  margin-bottom: 30px;
}

.hover {
  &-primary {
    cursor: pointer;
    &:hover {
      color: var(--color-font-default) !important;
      transition: color .1s ease-out;
    }
  }

  &-secondary {
    cursor: pointer;
    &:hover {
      color: var(--color-secondary-light) !important;
      transition: color .1s ease-out;
    }
  }

}


// Drop element style
.drop-overlay {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;

    background-color: rgba(0, 0, 0, .6);
  }

  &::before {
    position: absolute;
    content: 'DROP HERE';
    left: 50%;
    top: 50%;
    font-weight: bold;
    color: var(--color-font-secondary);
    white-space: nowrap;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}

.file-input {
  display: none;
}

// User Picture
.user-picture-round {
  height: 100%;
  border-radius: 100%;

  img {
    object-fit: cover;
    width: 60px;
    max-height: 60px;
    border-radius: 100%;
  }
}

// Scrollbar styles

::-webkit-scrollbar {
  width: .6rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  outline: none;
  border-radius: 5px;
}
